<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>demo</title>
  <script src="/static/js/jquery.min-2.1.4.js"></script>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="font-size:16px">
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/">Home</a></h5>

  {% if user==null %}
  <a href="/login" class="btn btn-outline-primary">Login</a>
  {% else %}
  <span>Welcome, <a href="/user/profile">{{ user.name }}</a></span>

  <a href="/logout" class="btn btn-outline-primary">Logout session</a>
  {% endif %}
</div>

<div class="container" style="max-width: 960px">
  <div class="row">
    <div class="col-12 col-md">
      {% block main %}
      {% endblock %}
    </div>
  </div>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <h6>Copyright &copy 2022</h6>
        <p>
          footer box
        </p>
      </div>
    </div>
  </footer>
</div>
</body>
</html>
